@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Regular.eot?) format('eot'),
  url(../assets/fonts/Raleway-Regular.ttf) format('truetype'),
  url(../assets/fonts/Raleway-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Medium.eot?) format('eot'),
  url(../assets/fonts/Raleway-Medium.ttf) format('truetype'),
  url(../assets/fonts/Raleway-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}